/* Entire Application Page: */

.app-container {
  position: relative;
}

/* Navbar */

.navbar-container { 
  padding: 5px;
  border: 1px solid;
  position: fixed;
  max-width: 120px;
}

.nav-link {
  text-decoration: none;
  word-wrap: break-word;
}

.nav-li {
  list-style: none;
  padding: 10px;
}

.nav-list {
  max-width: 120px;
}

/* Main Page Layout */

.main-container {
  border: 1px solid;
  position: absolute;
  width: 80%;
  margin-top: 50px;
  margin-left: 10%;
}

